body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.grid-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.grid-row {
  display: flex;
  flex: 1;
}

.grid-item {
  border: 1px solid black;
  flex: 1;
}

.painted {
  background-color: dimgray;
}

.make-grid {
  padding: 1rem;
  font-size: 1rem;
}